

@font-face { font-family: 'heading'; src: url("font1.otf"); }
@font-face { font-family: 'body'; src: url("font2.ttf"); }

:root 
{
    --light-grey: rgba(0, 0, 0, 0.39);
    --mid-grey: rgba(0, 0, 0, 0.59);
    --dark-grey: rgba(0, 0, 0, 0.69);
    --off-white: #f0f6f8;
    --wolf-red: #fa5f28;
    --purple: #4b00a2;
    
    --title: 'heading', Futura, Helvetica, sans-serif;
    --monospace: 'body', monospace;
}

html
{
    background: var(--off-white);
    margin: 40px 5%;
}

body
{
    max-width: 1000px;
    margin: auto;
}


/* menu */

header
{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: auto 100px 100px 100px;
    text-align: left;
}

.logo
{
    width: 140px;
}

a
{ 
    color: var(--light-grey)
}

.menu
{
    font-family: var(--monospace);
    font-size: 0.7rem;
    color: var(--light-grey);
    letter-spacing: 0.4px;
    text-decoration: none;
    text-align: center;
    align-self: flex-end;
    vertical-align: bottom;
    padding: 5px 0;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.menu:hover
{
    border-color: #aaaaaa;
}




/* hero */

.app-icon
{
    width: 40px;
}

.hero
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-div
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-right: 5%;
}

h1
{
    font-family: var(--title);
    font-size: 2.5rem;
    color: var(--dark-grey);
    margin-bottom: 5px;
    line-height: 0.9;
}

p
{
    font-family: var(--monospace);
    font-size: 1rem;
    color: var(--dark-grey);
    margin-bottom: 70px;
    line-height: 1.3rem;
}

.hero-img
{
    align-self: flex-end;
    width: 80%;
    max-width: 400px;
    opacity: 0.75;
}




/* button */

.button
{
    padding: 20px 50px;
    box-shadow: rgba(17,17,17,0.3) 0 5px 15px 0;
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 80px;
    transition: all 0.2s ease-in;
    outline: none;
    font-family: var(--title);
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--dark-grey);
    cursor: pointer;
}

.button:hover
{
    box-shadow: rgba(17,17,17,0.3) 0 10px 25px 0;
    color: var(--mid-grey);
}




/* footer */

.footer
{
    margin-top: 100px;
    font-family: var(--monospace);
    font-size: 0.7rem;
    color: var(--light-grey);
    letter-spacing: 0.4px;
}


@media screen and (max-width:775px)
{
    header
    {
        grid-template-columns: auto 60px 60px 60px;
    }
    
    .hero
    {
        grid-template-columns: 1fr;
        text-align: center;
        grid-row-gap: 100px;
    }
    
    .hero-div
    {
        display: block;
        margin-right: 0%;
    }
    
    body
    {
        text-align: center;
    }
}